/* Comments */

#main-content {
    float: left;
    width: 95%;
    margin: 8px;
}

#full-stack {
    /* margin: 42px 0 0 0;*/
}

#teasers {
    overflow-x: hidden;
    float: right;
    width: 42%;
    position: relative;
    top: 89px;
}

.teaser-container {
    color: #7c7c7c;
    margin: 0.8em 0 0.8em 0;
    font-size: 0.75em;
}

#full-stack li.link {
    list-style: none;
}

#full-stack li.link .link-title {
    /* font-size: 1.2em;*/
}

#teasers-stack {
    white-space: nowrap;
    padding: 0 5px 0 0;
}

.comment-container {
    margin: 0em 0 0.3em 0;
    cursor: default;
}

.comment-author {
    color: #2B7BFF;
    font-size: 0.7em;
    display: inline;
    /* opacity: 0.4;*/
}

.comment-text {
    line-height: 1.5em;
    font-size: 0.9em;
    margin: 0em 5em 0 0;
    white-space: normal;
}

.comment-text p {
    margin: 0 0 1em 0;
    display: block;
}

#comments {
    margin: 0 0 0 1em;
}

#fader {
    position: fixed;
    width: 75px;
    top: 0px;
    right: 5px;
    height: 3000px;
    float: right;
    background-image: -webkit-gradient(
      linear, left top, right top, from(rgba(255,255,255,0.0)),
      to(rgba(255,255,255,1.0))
    );
}

#fader-margin {
    position: fixed;
    width: 5px;
    top: 0px;
    right: 0px;
    height: 3000px;
    float: right;
    background: #ffffff;
}

body {
    overflow-x: hidden;
}

.comment-details {
    display: inline;
    /* opacity: 0.6;*/
}

.comment {
    margin: 0 0 0 1em;
}

.comments-upvote, .comments-has-voted {
    /* opacity: 0.4;*/
    top: 17px;
}

.comments-upvote {
    color: #2B7BFF;
}

.comment-preview {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 220px;
    background-color: white;
    font-size: 0.8em;
    line-height: 19px;
    padding: 2em 0 0 2em;
}

.vote-count {
    font-family: Consolas, Cabin;
    float: left;
    position: relative;
    color: #2B7BFF;
    opacity: 0.7;
}

input[type=submit].comments-input {
    background-color: #2B7BFF;
    font-size: 0.9em;
    font-weight: bold;
    width: 50px;
    height: 25px;
    border: 0;
    color: #fff;
    border-radius: 0px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
    box-shadow:
        0 30px 30px -18px rgba(255,255,255,0.65) inset, /* Inner gradient */
        1px 1px 3px rgba(0,0,0,0.2) /* Drop shadow */
    ;

    -webkit-border-radius: 0px;
    -webkit-text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
    -webkit-box-shadow:
        0 30px 30px -18px rgba(255,255,255,0.65) inset, /* Inner gradient */
        1px 1px 3px rgba(0,0,0,0.2) /* Drop shadow */
    ;
}

input[type=submit].comments-reply {
    opacity: 0.4;
}

input[type=submit].cancel {
    margin-left: 1em;
    background-color: #e14646;
    font-size: 0.9em;
    font-weight: bold;
    width: 65px;
    height: 25px;
    border: 0;
    color: #fff;
    border-radius: 0px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
    box-shadow:
        0 30px 30px -18px rgba(255,255,255,0.65) inset, /* Inner gradient */
        1px 1px 3px rgba(0,0,0,0.2) /* Drop shadow */
    ;

    -webkit-border-radius: 0px;
    -webkit-text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
    -webkit-box-shadow:
        0 30px 30px -18px rgba(255,255,255,0.65) inset, /* Inner gradient */
        1px 1px 3px rgba(0,0,0,0.2) /* Drop shadow */
    ;
}

input[type=submit].login-to-reply {
    background-color: #e14646;
    width: 120px;
}

#main-reply, #login-to-reply {
    margin: 0 0 0 1.2em;
}

.reply-link a, .login-link a {
    text-decoration: none;
    color: #2B7BFF;
}

/* Comment Form */

#comment-form-hider {
    display: none;
}

.comment form {
    padding: 5px 0 0 0;
}

.comment textarea, #root-reply textarea {
    width: 90%;
    height: 100px;
    font-size: 0.85em;
}

#root-reply form {
    padding: 1em 0 0 0;
}

id {
    display: none;
}

form#comment-login {
    margin: 0;
    padding: 0;
}
