/* Comments */

#main-content {
    float: left;
    width: 95%;
    margin: 8px;
}

#full-stack {
    /* margin: 42px 0 0 0;*/
}

#teasers {
    overflow-x: hidden;
    float: right;
    width: 42%;
    position: relative;
    top: 89px;
}

.teaser-container {
    color: #7c7c7c;
    margin: 0.8em 0 0.8em 0;
    font-size: 0.75em;
}

#full-stack li.link {
    list-style: none;
}

#full-stack li.link .link-title {
    /* font-size: 1.2em;*/
}

#teasers-stack {
    white-space: nowrap;
    padding: 0 5px 0 0;
}

.comment-container {
    margin: 0em 0 0.3em 0;
    cursor: default;
}

.comment-author {
    color: #2B7BFF;
    font-size: 0.7em;
    display: inline;
    opacity: 0.4;
}

.comment-text {
    line-height: 1.5em;
    font-size: 0.9em;
    margin: -0.1em 0 0 0;
}

.comment-text p {
    margin: 0 3em 1em 0;
}

#comments {
    margin: 0 0 0 1em;
}

#fader {
    position: fixed;
    width: 75px;
    top: 0px;
    right: 5px;
    height: 3000px;
    float: right;
    background-image: -webkit-gradient(
      linear, left top, right top, from(rgba(255,255,255,0.0)),
      to(rgba(255,255,255,1.0))
    );
}

#fader-margin {
    position: fixed;
    width: 5px;
    top: 0px;
    right: 0px;
    height: 3000px;
    float: right;
    background: #ffffff;
}

body {
    overflow-x: hidden;
}

.comment-details {
    display: inline;
    opacity: 0.6;
}

.comment {
    margin: 0 0 0 1em;
}

.comments-upvote, .comments-has-voted {
    opacity: 0.4;
    top: 17px;
}

.comments-upvote {
    color: #2B7BFF;
}
