/* Login */

label {
    font-family: Consolas, Cabin;
    color: #DBDBDB;
}

input[type=password], input[type=text] {
    border: 6px solid #f2f2f2;
    font-size: 1.3em;
    font-family: Consolas;
    padding: 7px;
    outline: none;
    color: #dbdbdb;
    margin: 0;
    -webkit-box-shadow:
            0 0 5px rgba(,0,0,0.1);
    -moz-box-shadow:
            0 0 5px rgba(0,0,0,0.1);
    box-shadow:
            0 0 5px rgba(0,0,0,0.1);
}

input[type=submit] {
    background-color: #2B7BFF;
    font-size: 1.3em;
    font-family: Consolas;
    font-weight: bold;
    width: 100px;
    height: 40px;
    border: 0;
    color: #fff;
    border-radius: 0px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
    box-shadow:
        0 30px 30px -18px rgba(255,255,255,0.65) inset, /* Inner gradient */
        1px 1px 3px rgba(0,0,0,0.2) /* Drop shadow */
    ;

    -webkit-border-radius: 0px;
    -webkit-text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
    -webkit-box-shadow:
        0 30px 30px -18px rgba(255,255,255,0.65) inset, /* Inner gradient */
        1px 1px 3px rgba(0,0,0,0.2) /* Drop shadow */
    ;
}

input#id_username {
    margin: 0 0 0.3em 0;
}

.fieldWrapper {
    margin: 0 0 0.8em 0;
}

form#login-form {
    padding: 26px 0 0 0;

}

.form-submit a {
    font-weight: bold;
    color: #9CC1FF;
    text-decoration: none;
}

.form-submit {
    margin: 0.7em 0 0 1px;
}

label.selected {
    color: #2b7bff;
}

ul.errorlist {
    font-family: Consolas, Cabin;
    color: #ff0000;
    list-style: none;
}
