/* General */

body {
    font-family: Cabin;
    color: #484848;
}

/* Layout */

#sidebar {
    float: left;
    width: 230px;
    padding: 5px 0 0 5px;
}

#content {
    margin: 0px 0 0 257px;
}

#content-header, #loader-region {
    height: 42px;
}

/* Logo, left column */

#logo a {
    text-decoration: none;
}

.logospan {
    display: block;
    font-weight: bold;
}

#logospan_dighum {
    letter-spacing: 1px;
    margin: 0 0 0 0.25em;
    /* color: #2b7bff;*/
    color: #fff;
}

#logospan_links {
    font-size: 4.1em;
    margin: -0.2em 0 0 0;
    /* color: #f7ba36;*/
    color: #fff;
    float: left;
}

#logospan_arrow {
    font-family: Consolas;
    font-size: 3em;
    letter-spacing: -0.15em;
    /* color: #2b7bff;*/
    color: #fff;
    margin: 0 0 0 0.2em;
}

/* Tags */

#tags {
    opacity: 0.9;
}

#tag-list {
    list-style: none;
    text-align: right;
    font-size: 0.7em;
    margin: 0 52px 0 0;
    float: right;
}

.tag-container {
    margin: 0.8em 0 0 0;
}

.tag-container a {
    text-decoration: none;
    color: #2b7bff;
}

li.tag {
    clear: left;
}

.tag-count {
    font-size: 0.95em;
    left: 4px;
    top: 2px;
    font-family: Consolas, Cabin;
}

.tag-title {
    color: #9CC1FF;
    font-family: Consolas, Cabin;
    position: relative;
    top: 10px;
    left: 15px;
}

.selected-tag a {
    color: #f7ba36;
}

span.tags-double-slash {
    margin: 0 0.9em 0 0.9em;
}

span.tags-bracket {
    margin: 0 0.2em 0 0.2em;
}

#tag-list td {
    padding: 0 0 3px 0;
}

#view-all-tags a {
    color: #9B9B9B;
    display: none;
}

ul.big-tags li a {
    font-size: 1.4em;
}

/* Sort Menu */

#sort-menu {
    margin: 0 0 0 2px;
    font-family: Consolas, Cabin;
    position: relative;
    font-size: 0.9em;
    color: #9B9B9B;
    top: 10px;
    left: 15px;
    float: left;
}

.sort-menu-item {
    color: #9CC1FF;
    margin: 0 1em 0 0;
    text-decoration: none;
}

.sort-menu-item.selected, .sort-menu-tag {
    color: #f7ba36;
}

/* Links */

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.upvote-link {
    float: left;
    text-decoration: none;
    color: #0066ff;
    position: relative;
    top: -1px;
}

.has-voted {
    color: #d4d4d4;
    cursor: default;
}

li.link {
    margin: 0 0 0 1em;
    list-style-position: inside;
}

.link-container {
    margin: 0 0 0.5em 0;
    z-index: 99;
}

a.link-title {
    text-decoration: none;
    color: #2b7bff;
    font-weight: bold;
}

a.link-base-url {
    text-decoration: none;
    font-weight: normal;
    color: #9CC1FF;
    font-family: Consolas, Cabin;
}

span.submission-details {
    font-size: 0.7em;
    position: relative;
    top: -1px;
    color: #9B9B9B;
}

a.comments-link {
    text-decoration: none;
    color: #F7BA36;
}

a.start-comments-link {
    text-decoration: none;
    color: #9CC1FF;
}

.link-details, .comment-details {
    color: #9b9b9b;
    font-size: 0.7em;
}

span.gray-parentheses {
    color: #9B9B9B;
}

img.submission-type-icon {
    position: relative;
    margin: 0 4px 0 3px;
    top: 1px;
}

.link-number {
    font-size: 0.95em;
    color: #696969;
}

a.are-more {
    font-family: Consolas, Cabin;
    text-decoration: none;
    font-size: 0.8em;
}

span.are-more-more {
    color: #2B7BFF;
}

span.are-more-arrow {
    color: #F7BA36;
}

li.childe-digital-humanist {
    font-family: Consolas, Cabin;
    font-size: 0.8em;
    color: #c1c1c1;
}

/* Loader */

#links-loader-text {
    margin: 0 0 0 2px;
    font-family: Consolas, Cabin;
    position: relative;
    font-size: 0.9em;
    color: #f7ba36;
    top: 4px;
    left: 15px;
    display: none;
}

#tags-loader-text {
    margin: 0 68px 0 0;
    font-family: Consolas, Cabin;
    position: relative;
    font-size: 0.7em;
    color: #f7ba36;
    left: 15px;
    display: none;
    float: right;
}

/* Navigation */

#navigation {
    margin: 0 0 0.8em 0;
}

#navigation ul {
    text-align: right;
    list-style: none;
    font-size: 0.9;
    margin: 0 54px 0 0;
}

#navigation li a {
    text-decoration: none;
    font-weight: normal;
    color: #2b7bff;
    font-family: Consolas, Cabin;
    font-size: 0.9em;
}

#navigation .navigation-main-word {
    font-weight: bold;
}

#navigation li.selected .navigation-main-word {
    color: #F7BA36;
}

/* Scholars' Lab logo */

#bottom-logos {
    position: fixed;
    right: 20px;
    bottom: 20px;
    /* z-index: -99;*/
}

#bottom-logos .logo-spacer {
    display: inline-block;
    height: 31px;
    width: 2px;
    clear: none;
    background-color: #e4e4e4;
    margin: 0 5px 0 5px;
}
