/* General */

body {
    font-family: Cabin;
    color: #484848;
}

/* Layout */

#sidebar {
    float: left;
    width: 230px;
    padding: 5px 0 0 5px;
}

#content {
    float: left;
    margin: 42px 0 0 27px;
}

/* Logo, left column */

.logospan {
    display: block;
    font-weight: bold;
}

#logospan_dighum {
    letter-spacing: 1px;
    margin: 0 0 0 0.25em;
    /* color: #2b7bff;*/
    color: #fff;
}

#logospan_links {
    font-size: 4.1em;
    margin: -0.2em 0 0 0;
    /* color: #f7ba36;*/
    color: #fff;
    float: left;
}

#logospan_arrow {
    font-family: Consolas;
    font-size: 3em;
    letter-spacing: -0.15em;
    /* color: #2b7bff;*/
    color: #fff;
    margin: 0 0 0 0.2em;
}

/* Links */

ol {
    margin: 0;
    padding: 0;
}

.upvote-link {
    float: left;
    text-decoration: none;
    color: #0066ff;
    position: relative;
    top: -1px;
}

li.link {
    margin: 0 0 0 1em;
    list-style-position: inside;
}

.link-container {
    margin: 0 0 0.5em 0;
}

a.link-title {
    text-decoration: none;
    color: #2b7bff;
    font-weight: bold;
}

a.comments-link {
    text-decoration: none;
    color: #2b7bff;
}

.link-details {
    color: #9b9b9b;
    font-size: 0.7em;
}
