<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>

    <title>{% block title %}Digital Humanities Links{% endblock %}</title>

    <link href="{{ STATIC_URL }}/css/style.css" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Cabin:regular,regularitalic,500,500italic,600,600italic,bold,bolditalic&v1' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="{{ STATIC_URL }}/js/mootools-core-1.3.2-full-nocompat.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/InterfaceFX.js"></script>

</head>

<body>

    <div id="sidebar">

        <div id="logo">
            <span id="logospan_digitalhumanities" class="logospan">DIGITALHUMANITIES</span>
            <span id="logospan_links" class="logospan">LINKS</span>
            <span id="logospan_arrow">-></span>
        </div>

        <div id="navigation">

            {% block navigation %}

            <ul>
                <li><a href="/new">new</a></li>
                <li><a href="/submit">submit</a></li>
            </ul>

            {% endblock %}

        </div>

    </div>

    <div id="content">

        {% block content %}{% endblock %}

    </div>

</body>

</html>
