<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>

    <title>{% block title %}Digital Humanities Links{% endblock %}</title>

    <link href='http://fonts.googleapis.com/css?family=Cabin:regular,regularitalic,500,500italic,600,600italic,bold,bolditalic&v1' rel='stylesheet' type='text/css'>

    {% block css %}
    {% endblock %}

    {% block javascript %}
    {% endblock %}

</head>

<body>

    <div id="main-content">

        <div id="sidebar">

            <div id="logo">
                <a href="/">
                    <span id="logospan_dighum" class="logospan">DIGITALHUMANITIES</span>
                    <span id="logospan_links" class="logospan">LINKS</span>
                    <span id="logospan_arrow">-></span>
                </a>
            </div>

            <div id="navigation">

                {% block navigation %}

                <ul>
                    <li class="navigation-link"><a href="/submit"><span class="navigation-main-word">submit</span> <span class="navigation-arrow">-></span></a></li>
                    <li class="navigation-link"><a href="/my-links"><span class="navigation-main-word">my links</span> <span class="navigation-arrow">-></span></a></li>
                </ul>

                {% endblock %}

            </div>

            <div id="tags">

                {% block tags %}
                {% endblock %}

            </div>

        </div>

        <div id="content">

            {% block content %}{% endblock %}

        </div>

    </div>

    <div id="teasers">

        {% block right-content %}
        {% endblock %}

    </div>


    </body>

    </html>
