{% extends 'links/links.html' %}

{% block css %}
    {{ block.super }}
    <link href="{{ STATIC_URL }}/css/comments_style.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}/css/forms.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascript %}

    <script type="text/javascript" src="{{ STATIC_URL }}/js/_mootools.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}/js/DisableSelect.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/LetterSplitter.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/Letter.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/Navigation.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/LinkFader.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/Logo.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/Links.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/Tags.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/Comments.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/forms/Form.js"></script>

    {% if not is_first %}
        <script type="text/javascript" src="{{ STATIC_URL }}/js/_comments_deployment.js"></script>
    {% else %}
        <script type="text/javascript" src="{{ STATIC_URL }}/js/_first_comment_deployment.js"></script>
    {% endif %}

{% endblock %}

{% block content %}

    <div id="content-header">

        {% block tag %}

        <!-- <div id="sort-menu">-->
        <!--     <a href="#" class="sort-menu-item selected">expanded</a>-->
        <!--     <a href="#" class="sort-menu-item">collapsed</a>-->
        <!-- </div>-->

        {% endblock %}

    </div>

    <div id="full-stack">

        <div class="link-container">

            {% if not hasvoted %}
                <a href="/submission/upvote/{{ submission.id }}" class="upvote-link">+</a>
            {% else %}
                <span class="upvote-link has-voted">+</span>
            {% endif %}

            <li class="link">

                <a href="{{ submission.url }}" target="_blank" class="link-title">{{ submission.title }}</a> 

                <span class="submission-details">
                    {% if submission.submission_type == 'link' %}
                        <a href="{{ submission.url }}" target="_blank" class="link-base-url"><span class="gray-parentheses">(</span><img src="{{ STATIC_URL }}/img/link_icon.png" class="submission-type-icon" /><span class="base-url-text">{{ submission.base_url }}</span><span class="gray-parentheses">)</span></a>
                    {% else %}
                        <a href="/comments/{{ submission.id }}" target="_blank" class="link-base-url"><img src="{{ STATIC_URL }}/img/discussion_icon.png" class="submission-type-icon" /></a>
                    {% endif %}
                </span>

                <div class="link-details">

                    <span>{{ submission.number_of_votes }} vote{{ submission.number_of_votes|pluralize }}</span> |
                    <span>Submitted by {{ submission.user.first_name }} {{ submission.user.last_name }}</span>

                </div>

                <div id="root-reply">
                    {% if is_first %}
                        <form action="/addcomment" method="post" id="comment-form" style="margin-left: 1em">
                            {{ form.non_field_errors }}
                            <div class="fieldWrapper">
                                {{ form.comment }}
                                {{ form.comment.errors }}
                            </div>
                            <input class="comments-input comments-reply" type="submit" value="reply" disabled /></p>
                            <input class="parent-id-hidden" type="hidden" name="parent_id" value="root" />
                            <input class="parent-id-hidden" type="hidden" name="submission_id" value="{{ submission.id }}" />
                        </form>
                    {% else %}
                        {% if not anon %}
                            <p><input class="comments-input" id="main-reply" type="submit" value="reply" /></p>
                        {% else %}
                            <form action="/login" id="comment-login">
                                <p><input class="comments-input login-to-reply" id="login-to-reply" type="submit" value="log in to reply" /></p>
                            </form>
                        {% endif %}
                    {% endif %}
                </div>

            </li>

        </div>

        <div id="comments">

            {% for comment, indent in comments %}

                <div class="comment-container" style="margin-left: {{ indent }}px">

                    <!-- {% if not comment.has_voted %}-->
                    <!--     <a href="/comment/upvote/{{ comment.id }}" class="upvote-link comments-upvote">+</a>-->
                    <!-- {% else %}-->
                    <!--     <span class="upvote-link has-voted comments-has-voted">+</span>-->
                    <!-- {% endif %}-->

                    <div class="comment">

                        <id>{{ comment.id }}</id>

                        <div class="comment-author">{{ comment.user.first_name }} {{ comment.user.last_name }}</div>

                        <div class="comment-details">
                            <!-- <span>| {{ comment.number_of_votes }} vote{{ comment.number_of_votes|pluralize }}</span> --> |
                            <span>Posted {{ comment.posted_on }}</span>
                        </div>

                        {% if not anon %}
                            <span class="comment-details reply-link">| <a href="">Reply</a></span>
                        {% endif %}

                        <div class="comment-text">{{ comment.comment|linebreaks }}</div>

                    </div>

                </div>

            {% endfor %}

        </div>

    </div>

    <div id="comment-form-hider">

        <form action="/addcomment" method="post" id="comment-form">
            {{ form.non_field_errors }}
            <div class="fieldWrapper">
                {{ form.comment }}
                {{ form.comment.errors }}
            </div>
            <p><input class="comments-input comments-reply" type="submit" value="reply" disabled /><input class="comments-input cancel" type="submit" value="cancel" /></p>
            <input class="parent-id-hidden" type="hidden" name="parent_id" value="" />
            <input class="parent-id-hidden" type="hidden" name="submission_id" value="{{ submission.id }}" />
        </form>

    </div>

{% endblock %}
