{% extends 'links/base.html' %}

{% block css %}
    <link href="{{ STATIC_URL }}/css/style.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascript %}

    <script type="text/javascript" src="{{ STATIC_URL }}/js/_mootools.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}/js/DisableSelect.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/LetterSplitter.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/Letter.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/Navigation.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/LinkFader.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/Logo.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}/js/_deployment.js"></script>

{% endblock %}

{% block tags %}

    <ul id="tag-list">
    {% for tag in tags %}

        <div class="tag-container">
            <span class="tag-count">{{ tag.count }}</span>
            <li class="tag"><a href="/{{ tag.url_slug }}">{{ tag.tag }}</a></li>
        </div>

    {% endfor %}
    </ul>

{% endblock %}

{% block content %}



{% endblock %}
