{% extends 'links/links.html' %}

{% block css %}
    {{ block.super }}
    <link href="{{ MEDIA_URL }}/css/forms.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript" src="{{ MEDIA_URL }}/js/forms/Form.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/js/deployments/_submit_form_deployment.js"></script>
{% endblock %}

{% block content %}

    <form action="/submission/edit" method="post" id="submit-form">
        {{ form.non_field_errors }}
        <div class="fieldWrapper">
            <input type="text" name="title" id="id_title" value="{{ form.title.value }}">
            {{ form.title.errors }}
        </div>
        <div class="fieldWrapper">
            <input type="text" name="url" id="id_url" value="{{ form.url.value }}">
            {{ form.url.errors }}
        </div>
        <div class="fieldWrapper">
            <input type="text" name="tags" id="id_tags" value="{{ form.tags.value }}">
            {{ form.tags.errors }}
        </div>
        <div class="fieldWrapper">
            {{ form.comment }}
            {{ form.comment.errors }}
        </div>
        <p><input type="submit" value="save" /></p>
    </form>

{% endblock %}
