{% extends 'links/base.html' %}

{% block content %}

	<ol>
	{% for submission in submissions %}
	
		<li>

            <a href="/upvote/{{ submission.id }}">+</a>
            <a href="/downvote/{{ submission.id }}">-</a> 
            <a href="{{	submission.url }}" target="_blank">{{ submission.title }}</a> 
            ({{ submission.submission_type }})
            <br />
            <span>{{ submission.upvotes }} votes</span> | 
            <span>Submitted by {{ submission.user.first_name }} {{ submission.user.last_name }}</span> | 
            <span><a href="/comments/{{ submission.id }}">{{ submission.number_of_comments }} Comment{{ submission.number_of_comments|pluralize }}</a></span>

		</li>
	
	{% endfor %}
	</ul>

{% endblock %}
