{% extends 'links/base.html' %}

{% block css %}
    <link href="{{ STATIC_URL }}/css/links_style.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascript %}

    <script type="text/javascript" src="{{ STATIC_URL }}/js/_mootools.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}/js/DisableSelect.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/LetterSplitter.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/Letter.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/Navigation.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/ScrollMonitor.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/LinkFader.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/Links.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/Tags.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/Sorters.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/Loader.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/Logo.js"></script>

    <script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}/js/_links_deployment.js"></script>

{% endblock %}

{% block navigation %}

    <ul>
        <li class="navigation-link{% if navigation = 'submit' %} selected{% endif %}"><a href="/submit"><span class="navigation-main-word">submit</span></a></li>
        {% if not anon %}
            <li class="navigation-link{% if navigation = 'mylinks' %} selected{% endif %}"><a href="/my-links"><span class="navigation-main-word">my links</span></a></li>
            <li class="navigation-link"><a href="/logout"><span class="navigation-main-word">logout</span></a></li>
        {% else %}
            <li class="navigation-link{% if navigation = 'login' %} selected{% endif %}"><a href="/login"><span class="navigation-main-word">login</span></a></li>
        {% endif %}
    </ul>

{% endblock %}

{% block tags %}

    <table id="tag-list">
    {% for sidetag in tags %}

        <tr class="tag-container">
            <td class="tag {% if tag and sidetag.tag == tag.tag %}selected-tag{% endif %}"><span class="tag-count">({{ sidetag.count }}) </span><a href="/{% if mylinks %}my-links/{% endif %}{{ sidetag.url_slug }}">{{ sidetag.tag }}</a></td>
        </tr>

    {% endfor %}
    </table>

{% endblock %}

{% block content %}

    <div id="content-header">

        {% block tag %}

            <div id="sort-menu">

                {% if mylinks %}

                    <span class="sort-menu-tag" class="selected">my-links</span><span class="tags-double-slash"> // </span>

                    {% if tag != None %}
                        <span class="sort-menu-tag" class="selected">{{ tag.url_slug }}</span><span class="tags-double-slash"> // </span>
                    {% endif %}

                {% endif %}

                {% if tag != None %}
                    <span class="sort-menu-tag" class="selected">{{ tag.url_slug }}</span><span class="tags-double-slash"> // </span>
                {% endif %}

                <a href="/{% if mylinks %}my-links{% endif %}{% if tag != None %}/{{ tag.url_slug }}{% endif %}" class="sort-menu-item{% if sort == 'rank' %} selected{% endif %}">rank</a>
                <a href="/{% if mylinks %}my-links/{% endif %}{% if tag != None %}{{ tag.url_slug }}/{% endif %}new" class="sort-menu-item{% if sort == 'new' %} selected{% endif %}">age</a>
                <a href="/{% if mylinks %}my-links/{% endif %}{% if tag != None %}{{ tag.url_slug }}/{% endif %}comments" class="sort-menu-item{% if sort == 'comments' %} selected{% endif %}">comments</a>

            </div>

        {% endblock %}

    </div>

    <ol>
    {% for submission in submissions %}

        <div class="link-container">

            {% if not submission.has_voted %}
                <a href="/submission/upvote/{{ submission.id }}" class="upvote-link">+</a>
            {% else %}
                <span class="upvote-link has-voted">+</span>
            {% endif %}

            <li class="link">

                <a href="{{ submission.url }}" target="_blank" class="link-title">{{ submission.title }}</a> 

                <span class="submission-details">
                    {% if submission.submission_type == 'link' %}
                        <a href="{{ submission.url }}" target="_blank" class="link-base-url"><span class="gray-parentheses">(</span><img src="{{ STATIC_URL }}/img/link_icon.png" class="submission-type-icon" /><span class="base-url-text">{{ submission.base_url }}</span><span class="gray-parentheses">)</span></a>
                    {% else %}
                        <a href="/comments/{{ submission.id }}" class="link-base-url"><img src="{{ STATIC_URL }}/img/discussion_icon.png" class="submission-type-icon" /></a>
                    {% endif %}
                </span>

                <div class="link-details">

                    <span>{{ submission.number_of_votes }} vote{{ submission.number_of_votes|pluralize }}</span> |
                    <span>Submitted by {{ submission.user.first_name }} {{ submission.user.last_name }}</span>

                    {% if submission.number_of_comments > 0 %}
                        | <span><a href="/comments/{{ submission.id }}" class="comments-link">{{ submission.number_of_comments }} comment{{ submission.number_of_comments|pluralize }}</a></span>
                    {% else %}
                        | <span><a href="/comments/{{ submission.id }}/first" class="start-comments-link">declaim</a></span>
                    {% endif %}

                </div>
            </li>

        </div>

    {% endfor %}
    </ol>

    <div id="loader-region">

        <span id="loader-text">loading</span>

    </div>

{% endblock %}
