{% extends 'links/links.html' %}

{% block tag %}

    <div id="sort-menu">

        <span class="sort-menu-tag" class="selected">my-links</span><span class="tags-double-slash"> // </span>

        {% if tag != None %}
            <span class="sort-menu-tag" class="selected">{{ tag.url_slug }}</span><span class="tags-double-slash"> // </span>
        {% endif %}

        <a href="/my-links{% if tag %}/{{ tag.url_slug }}{% endif %}" class="sort-menu-item{% if sort == 'rank' %} selected{% endif %}">rank</a>
        <a href="/my-links{% if tag %}/{{ tag.url_slug }}{% endif %}/new" class="sort-menu-item{% if sort == 'new' %} selected{% endif %}">age</a>
        <a href="/my-links{% if tag %}/{{ tag.url_slug }}{% endif %}/comments" class="sort-menu-item{% if sort == 'comments' %} selected{% endif %}">comments</a>

    </div>

{% endblock %}

{% block tags %}

    <table id="tag-list">
    {% for sidetag in tags %}

        <tr class="tag-container">
            <td class="tag {% if tag and sidetag.tag == tag.tag %}selected-tag{% endif %}"><span class="tag-count">({{ sidetag.count }}) </span><a href="/my-links/{{ sidetag.url_slug }}">{{ sidetag.tag }}</a></td>
        </tr>

    {% endfor %}
    </table>

{% endblock %}
