{% extends 'links/links.html' %}

{% block tag %}
    <span class="tag-title">{{ tag.url_slug }}:</span>
{% endblock %}

{% block tags %}

    <ul id="tag-list">
    {% for sidetag in tags %}

        <div class="tag-container">
            <span class="tag-count {% if sidetag.tag == tag.tag %}selected-tagcount{% endif %}">{{ sidetag.count }}</span>
            <li class="tag {% if sidetag.tag == tag.tag %}selected-tag{% endif %}"><a href="/{{ sidetag.url_slug }}">{{ sidetag.tag }}</a></li>
        </div>

    {% endfor %}
    </ul>

{% endblock %}
